{% extends 'base.html'%}

{% block head %}
    <title>Home Page</title>
{% endblock %}

{% block body %}

<section class="content-info">
    <div class="container paddings-mini">
        <h3>
            Today's Rankings
          </h3>
        <div class="row">
            <div class="col-lg-12">
                <table class="table-striped table-responsive table-hover result-point">
                    <thead class="point-table-head">
                        <tr>
                            <th class="text-center">Ranking</th>
                            <th class="text-center">User</th>
                            <th class="text-center">Today's Net Change</th>
                            <th class="text-center">Year</th>
                            <th class="text-center">Boiler Bucks</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td class="text-left number">1 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                            <td>Anish Thangavelu</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                            </td>
                            <td>Sophomore</td>
                            <td>$2053</td>
                        </tr>
                        <tr>
                            <td class="text-left number">2 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                            <td>Pranav Dantu</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                            </td>
                            <td>Freshman</td>
                            <td>$2036</td>
                        </tr>
                        <tr>
                            <td class="text-left number">3 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                            <td>Rishabh Kulkarni</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                                  </svg>
                            </td>
                            <td>Freshman</td>
                            <td>$1804</td>
                        </tr>
                        <tr>
                            <td class="text-left number">4 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                            <td>Shreyas Chickerur</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                            </td>
                            <td>Junior</td>
                            <td>$1796</td>
                        </tr>
                        <tr>
                            <td class="text-left number">5 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                            <td>Archis Dhar</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                            </td>
                            <td>Sophomore</td>
                            <td>$1544</td>
                        </tr>
                        <tr>
                            <td class="text-left number">6 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                            <td>Mihir Mahale</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                                  </svg>
                            </td>
                            <td>Freshman</td>
                            <td>$1398</td>
                        </tr>
                        <tr>
                            <td class="text-left number">7 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                            <td>Shresth Gupta</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                            </td>
                            <td>Senior</td>
                            <td>$1337</td>
                        </tr>
                        <tr>
                            <td class="text-left number">8 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                            <td>Rachit Bisht</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                            </td>
                            <td>Junior</td>
                            <td>$1129</td>
                        </tr>
                        <tr>
                            <td class="text-left number">9 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                            <td>Rohan Joshi</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                                  </svg>
                            </td>
                            <td>Senior</td>
                            <td>$1060</td>
                        </tr>
                        <tr>
                            <td class="text-left number">10 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                            <td>Akshat Singh</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                                  </svg>
                            </td>
                            <td>Senior</td>
                            <td>$1055</td>
                        </tr>
                        <tr>
                            <td class="text-left number">11 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                            <td>Sidharth Venkatesh</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                            </td>
                            <td>Freshman</td>
                            <td>$1004</td>
                        </tr>
                        <tr>
                            <td class="text-left number">12 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                            <td>Sharavanan Sivakumar</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                            </td>
                            <td>Junior</td>
                            <td>$956</td>
                        </tr>
                        <tr>
                            <td class="text-left number">13 <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                            <td>Praveen Sentha</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                                  </svg>
                            </td>
                            <td>Senior</td>
                            <td>$853</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}