{% extends 'base.html'%}

{% block head %}
    <title>Home Page</title>
{% endblock %}

{% block body %}

<section class="content-info">
    <div class="container paddings-mini">
        <h3>
            This Week's Rewards
            <br>
        </br>

  
            <p style="font-size:18px;"> &#129351;: Free Mad Mushroom Pizza!</p>
            <p style="font-size:18px;"> &#129352;: Two free Den Pops!</p>
            <p style="font-size:18px;"> &#129353;: $5 Chipotle Discount!</p>
            

          </h3>
      <br></br>

        <h3>
            Weekly Rankings
            
          </h3>
          
        <div class="row">
            <div class="col-lg-12">
                <table class="table-striped table-responsive table-hover result-point">
                    <thead class="point-table-head">
                        <tr>
                            <th class="text-center">Ranking</th>
                            <th class="text-center">User</th>
                            <th class="text-center">Today's Net Change</th>
                            <th class="text-center">Boiler Bucks</th>

                            <tbody class="text-center">
                                
                                {% for task in tasks%}
                                    <tr>
                                        <td class="text-left number"> {{loop.index}} <i class="fa fa-caret-up" aria-hidden="true"></i></td> 
                                        <td>{{task.fName}}</td>
                                        <td>
                                            {%if ran[loop.index] > 0 %}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                                                </svg>
                                                
                                            {%else%}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                                </svg>
                                            {%endif%}
                                        </td>
                                        <td>{{task.boilerBucks}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                                
                        </tr>
                    </thead>
                    
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}